.coresheet_container {
    display: inline-block;
    padding-right: 2px;
    border: 1px black solid;
    box-sizing: border-box;
    left : 0;
    right : 0;
    top : 0;
    bottom : 0;
    position: absolute;
    
}

.coresheet_content {
    overflow: scroll;
}

.coresheet {
    border-collapse: separate;
    table-layout: fixed;
    white-space: pre;
    empty-cells: show;
    border: 0px;
    background-color: white;

    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    user-select: none;

}

.coresheet > thead > tr > td {
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid transparent;
    border-bottom: 1px solid transparent;
    background-color: #f3f3f3;

    padding: 2px;
    cursor: pointer;
    box-sizing: border-box;
    overflow: hidden;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.coresheet > tbody > tr > td
{
    border-top:1px solid #ccc;
    border-left:1px solid #ccc;
    border-right:1px solid transparent;
    border-bottom:1px solid transparent;
    padding:4px;
    white-space: nowrap;
    box-sizing: border-box;
    line-height:1em;
}

.coresheet > tbody > tr > td[data-logical-state="focus"],
.coresheet > thead > tr > td[data-logical-state="focus"]
{
    background-color: red;
}

.coresheet > tbody > tr > td[data-logical-state="selected"],
.coresheet > thead > tr > td[data-logical-state="selected"]
{
    background-color: salmon;
}
