.coresheet_container {
    display: inline-block;
    padding-right: 2px;
    border: 1px black solid;
    box-sizing: border-box;
    left : 0;
    right : 0;
    top : 0;
    bottom : 0;
    position: absolute;
    overflow: hidden;
    
}

.right_sidebar_container {
    background: red;
    position: fixed;
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    z-index: 1;
}

.coresheet_content {
    /* width: 100%; */
    overflow: scroll;
    height: 100%;
    position: relative;
    z-index: 0;
}

.coresheet {
    border-collapse: separate;
    table-layout: fixed;
    white-space: pre;
    empty-cells: show;
    border: 0px;
    background-color: white;

    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    user-select: none;

    width: max-content;

}

.coresheet > tbody > tr > td:first-child {
    position: sticky;
    left: 0;

    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid transparent;
    background-color: #f3f3f3;
    padding: 2px;
    z-index: 999;

}

.coresheet > thead > tr > td {
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid transparent;
    border-bottom: 1px solid transparent;
    background-color: #f3f3f3;

    padding: 2px;
    cursor: pointer;
    box-sizing: border-box;
    overflow: hidden;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.coresheet > tbody > tr > td
{
    border-top:1px solid #ccc;
    border-left:1px solid #ccc;
    border-right:1px solid transparent;
    border-bottom:1px solid transparent;
    padding:4px;
    white-space: nowrap;
    box-sizing: border-box;
    line-height:1em;
}

.coresheet > tbody > tr > td[class="selection-start"]
{
    outline: 2px solid #c00;
    border-top:1px solid transparent;
    border-left:1px solid transparent;
    border-right:1px solid transparent;
    border-bottom:1px solid transparent;
}

.coresheet > tbody > tr > td[data-logical-state="focus"],
.coresheet > thead > tr > td[data-logical-state="focus"]
{
    background-color: red;
}

.coresheet > tbody > tr > td[data-logical-state="selected"],
.coresheet > thead > tr > td[data-logical-state="selected"]
{
    background-color: salmon;
}
